/* Custom properties/variables  */
:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-size: 2.5rem;
}

#course_name {
  color: var(--main-red);
}

.container {
  margin-top: 50px;
}

/* #region NavLink */
.nav-list {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  background-color: var(--main-red);
}

li {
  padding: 1rem;
}

li:hover {
  background-color: var(--main-blue);
}

li a {
  color: var(--main-white);
}
/* #endregion */

/* #region hero  */
.hero {
  height:26rem;
  background-color: var(--main-gray);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./images/img3.jpg");
  background-color: var(--main-white);
  background-repeat: no-repeat;
  background-size:cover;
}

.hero h1 {
  color: var(--main-white);
}

.hero p {
  padding-top: 1rem;
  color: var(--main-white);
}
/* #endregion */

/* #region projects  */
.projects {
  background-color: var(--main-blue);
  padding: 2rem;
}

.projects h2 {
  font-size:1.8rem;
  margin: 1rem 0;
  text-align: center;
  color: var(--main-white);
}

.projects-grid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
}

.projects-grid a {
  padding-bottom: 1rem;
  border-radius: 1rem;
  background-color: var(--main-gray);
  height: 260px;
}

.project-img {
  height: 200px;
  width:240px;
}

.projects-grid a p {
  text-align: center;
  padding: 1rem 0;
  color: white;
  font-size: larger;
}

.code {
  color: var(--main-gray);
  transition: color 0.3s ease-out;
}

.project-item:hover .code {
  color: orange;
}

/* #endregion */

/* #region contact  */
.contact {
  padding: 3rem 0;
  background-color: var(--main-gray);
  color: var(--main-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact h2 {
  font-size:1.8rem;
  text-align: center;
  margin-bottom: 1rem;
}

.contact-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-links a {
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  transition: transform 500ms ease-out;
}

.contact-links a:hover {
  transform: translateY(10px)
}

.contact-links a img {
  height: 32px;
}
.contact-links a span {
  margin-left: 10px;
  font-size:22px;
}
/* #endregion */

/* #region footer  */
.footer {
  border-top: 2px solid var(--main-red);
  padding: 1rem 0;
  background-color: var(--main-gray);
  color: white;
  text-align: center;
}
/* #endregion */
